.text{
font-family: 'Bree Serif', serif;
font-size: 24px;
}

.handle {
	background-color: aliceblue;			
    height: 250px;
    width: 200px;
    position: absolute;
    top:1050px;
    left: 340px;
    border-radius:80px;
}

.innerhandle {
	background-color: white;			
    height: 220px;
    width: 170px;
    position: absolute;
    top:1065px;
    left: 350px;
    border-radius:80px;
}

.mug {
	background-color: aliceblue;			
    height: 380px;
    width: 300px;
    position: absolute;
    left: 100px;
    top:1000px;
    border-radius:5px;
}

.water {
	background-color: paleturquoise;
    height: 240px;
    width: 270px;
    position: absolute;
    top:1120px;
    left: 115px;
    border-radius:5px;
    transition:3s;
}
.water:hover{
    background-color: #60A33E;
    transition:3s;

}

.inner {
	background-color: white;			
    height: 350px;
    width: 270px;
    position: absolute;
    top:1010px;
    left: 115px;
    border-radius:5px;
}

.string {
    height: 400px; 
    width: 4px; 
    background: #F2EEC0;
    position: absolute;
    top: 550px;
    left: 220px;
    border-radius: 10px;
    z-index: 5;
    transition:2s;
}

.string:hover{
    top:700px;
    transition:2s;
}

.green {
    height: 160px; 
    width: 140px; 
    background: #60A33E;
    position: absolute;
    top: 780px;
    left: 180px;
    border-radius: 10px;
    z-index: 5;
     -ms-transform: rotate(-17deg); /* IE 9 */
    -webkit-transform: rotate(-17deg); /* Chrome, Safari, Opera */
    transform: rotate(-17deg);
    transition:2s;
}

.green:hover{
    transition:2s;
    top:1170px;
}