body{
    font-family:'Raleway',Helvetica, Arial, sans-serif;
}
h1{
    font-size: 60px;
    font-weight: 800;
}

.container{
    width: 1200px;
    margin: 0 auto 0 auto;
}
.centerimage{
    margin:10px 0px 10px 0px;
    text-align: center;
}
.row { width: 100%;}
.col-3 { 
    width: 25%;
    float: left;
    position: relative;
}
.col-6 {
    width: 50%;
    float: left;
    position: relative;
}
.col-12 {
    width: 100%;
    float: left;
    position: relative;
}

.box {
    width: 200px;
    height: 300px;
    margin: 0 auto 0 auto;
}
.lid {
    width: 100%;
    height: 38px;
    margin-bottom:2px;
    border-radius: 8px;
    background: url("chai.jpg") center;
    box-shadow: 6px 6px 10px #CCC;
    transition-delay: .2s;
}
.box:hover .lid {
    transform: rotate(-25deg);
    transform-origin: 0% 100%;
     transition-delay: .2s;
}
.jar{
    width:100%;
    height:260px;
    border-radius: 8px;
    background: url("chai.jpg") top left;
    box-shadow: 6px 6px 10px #CCC;
}
.chai{
    font-weight: 400;
    color: dimgrey;
    font-size: 30px;
    text-align: center;
}
.lidyellow {
    width: 100%;
    height: 38px;
    margin-bottom:2px;
    border-radius: 8px;
    background: url("yellow.jpg") center;
    box-shadow: 6px 6px 10px #CCC;
    transition-delay: .2s;
}
.box:hover .lidyellow {
    transform: rotate(-25deg);
    transform-origin: 0% 100%;
     transition-delay: .2s;
}
.jaryellow{
    width:100%;
    height:260px;
    border-radius: 8px;
    background: url("yellow.jpg") top left;
    box-shadow: 6px 6px 10px #CCC;
}
.lidred {
    width: 100%;
    height: 38px;
    margin-bottom:2px;
    border-radius: 8px;
    background: url("red.jpg") center;
    box-shadow: 6px 6px 10px #CCC;
    transition-delay: .2s;
}
.box:hover .lidred {
    transform: rotate(-25deg);
    transform-origin: 0% 100%;
     transition-delay: .2s;
}
.jarred{
    width:100%;
    height:260px;
    border-radius: 8px;
    background: url("red.jpg") center;
    box-shadow: 6px 6px 10px #CCC;
}

.lidblack {
    width: 100%;
    height: 38px;
    margin-bottom:2px;
    border-radius: 8px;
    background: url("black.jpg") center;
    box-shadow: 6px 6px 10px #CCC;
    transition-delay: .2s;
}
.box:hover .lidblack {
    transform: rotate(-25deg);
    transform-origin: 0% 100%;
     transition-delay: .2s;
}
.jarblack{
    width:100%;
    height:260px;
    border-radius: 8px;
    background: url("black.JPG") top left;
    box-shadow: 6px 6px 10px #CCC;
}
.lidred {
    width: 100%;
    height: 38px;
    margin-bottom:2px;
    border-radius: 8px;
    background: url("red.jpg") center;
    box-shadow: 6px 6px 10px #CCC;
    transition-delay: .2s;
}
.square {
    width: 600px;
    height: 600px;
    border: 1px solid #F0F0F0;
}
.doublesquare{
    width: 1200px;
    height: 600px;
    border: 1px solid #F0F0F0;
}